<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunAsService" value="false"/>
    <add key="registryRedisHost" value="plt-esbredis01"/>
    <add key="registryRedisPort" value="6379"/>

    <add key="queueRedises" value="plt-esbredis01:6379|plt-esbredis01:6379|plt-esbredis01:6379|plt-esbredis01:6379|plt-esbredis01:6379"/>
  </appSettings>
</configuration>